$base-path: '../vendor/assets/images/satori';
$font-path: '../vendor/assets/stylesheets/font-awesome/fonts';

@import '../../vendor/assets/stylesheets/satori';

.swatch {
  @include box-shadow($dark-grey);
  border-radius: $border-radius;
  width: 100%;
  height: 80px;
}

[data-role*=slideshow] {
  [data-role*=slide] {
    float: left;
  }
}
