$image-base-path: '../vendor/assets/images/satori';
$font-base-path: '../vendor/assets/fonts/satori';
$font-awesome-path: '../vendor/assets/stylesheets/font-awesome/fonts';

// Temp
$header-font: "Work Sans Thin", sans-serif;
$header-font-weight: 300;
$header-font-small: "Work Sans Thin", sans-serif;
$header-font-small-weight: 300;
$logo-font: "Work Sans Thin", sans-serif;
$logo-font-weight: 300;

$body-font: "OpenSans-Light", sans-serif;
// End Temp

@import '../../vendor/assets/stylesheets/satori';

.swatch {
  @include box-shadow($dark-grey);
  border-radius: $border-radius;
  width: 100%;
  height: 80px;
}

[data-role*=slideshow] {
  [data-role*=slide] {
    float: left;
  }
}
