<!doctype html>
<html>
<head>
	<title>New Dashboard | Satori</title>
	<base href="../../">

	<link rel="stylesheet" href="tmp/site.css" />
</head>
<body class="new-dashboard">
	<div class="layout-wrap">
		<header class="site-header bg-background">
			<div class="site-logo">
				<div class="title text-primary">Satori<br/><small>A UI Framework</small></div>
			</div>

			<p>This is my header, it should be in the upper left of the box.</p>

			<nav class="vertical-nav">
				<ul>
					<li class="heading bg-grey">Heading</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</nav>
		</header>

		<main class="bg-grey">
			<nav class="secondary-nav bg-background">
				<ul>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</nav>

			<section class="bg-background">
				<h2>View This Page's Source Code</h2>
				<p>View this page's source code to see how it was created.</p>

				<footer class="bg-grey">
					<p>February 19th, 2015</p>
				</footer>
			</section>

			<section class="bg-background">
				<h2>A Quick Tip</h2>
				<p>You may want to create a separate SASS stylesheet and include Satori's classes to simplify your code. The following code is recommended:</p>

				<div class="bg-grey">
<pre>

  section {
    @extend bg-white;

    footer {
      @extend bg-grey;
    }
  }

</pre>
				</div>

				<p>This allows you to avoid having to include bg-white and bg-grey in each section. It leads to slightly more maintainable code.</p>

				<footer class="bg-grey">
					<p>February 18th, 2015</p>
				</footer>
			</section>

			<footer class="site-footer">
				<p>&copy; <a href="http://www.sprintcrashpivot.com">2015 Sprint, Crash, Pivot</a></p>
			</footer>
		</main>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="vendor/assets/javascripts/satori.js"></script>
</body>
</html>
