<!doctype html>
<html>
<head>
	<title>New Dashboard | Satori</title>
	<base href="../../">
	
	<link rel="stylesheet" href="tmp/satori/reset.css" />
	<link rel="stylesheet" href="tmp/satori/base.css" />
	<link rel="stylesheet" href="tmp/satori.css" />
</head>
<body class="new-dashboard">
	<div class="layout-wrap">
		<header class="site-header">
			<div class="site-logo">
				<div class="title text-primary">Satori</div>
				<div class="tagline text-grey">A UI Framework</div>
			</div>
			
			<p>This is my header, it should be in the upper left of the box.</p>
			
			<nav>
				<ul>
					<li class="heading bg-grey">Heading</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</nav>
		</header>
	
		<main>
			<nav class="bg-grey">
				<ul>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</nav>
		
			<section>
				<h1>Test</h1>
				<p>This is a sample paragraph</p>
		
				<footer>
					<p>Some random date</p>
				</footer>
			</section>
			
			<footer class="site-footer">
				<p>&copy; <a href="http://www.sprintcrashpivot.com">2015 Sprint, Crash, Pivot</a></p>
			</footer>
		</main>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="vendor/assets/javascripts/satori.js"></script>
</body>
</html>