<!doctype html>
<html>
<head>
	<title>Personal | Satori</title>
	<base href="../../">

	<link rel="stylesheet" href="tmp/site.css" />
</head>
<body class="personal">
	<div class="layout-wrap">
		<header class="site-header bg-text">
			<div class="site-logo left">
				<a href="#" class="title text-border">
					<img src="test/images/logo-sm.png" />
					Satori
					<span class="tagline">A New UI Framework</span>
				</a>
			</div>

			<nav class="right">
				<ul>
					<li><a href="#" class="">Register</a></li>
					<li><a href="#" class="primary">Sign In</a></li>
				</ul>
			</nav>

			<div class="search right">
				<input type="text" placeholder="Search..." />
				<input type="submit" value="Find" />
			</div>

			<nav class="clear secondary-nav bg-black">
				<ul>
					<li><a href="#">Register</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</nav>
		</header>

		<main class="bg-white">
			<section class="bg-white">
				<h2>View This Page's Source Code</h2>
				<p>View this page's source code to see how it was created.</p>

				<footer class="bg-grey">
					<p>February 19th, 2015</p>
				</footer>
			</section>

			<section class="bg-white">
				<h2>A Quick Tip</h2>
				<p>You may want to create a separate SASS stylesheet and include Satori's classes to simplify your code. The following code is recommended:</p>

				<div class="bg-grey">
<pre>

  section {
    @extend bg-white;

    footer {
      @extend bg-grey;
    }
  }

</pre>
				</div>

				<p>This allows you to avoid having to include bg-white and bg-grey in each section. It leads to slightly more maintainable code.</p>

				<footer class="bg-grey">
					<p>February 18th, 2015</p>
				</footer>
			</section>
		</main>

			<footer class="site-footer bg-text">
				<nav class="secondary-nav">
					<ul>
						<li><a href="#">Register</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</nav>

				<p>&copy; <a href="http://www.sprintcrashpivot.com">2015 Sprint, Crash, Pivot</a></p>
			</footer>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="vendor/assets/javascripts/satori.js"></script>
</body>
</html>
